.App{
  text-align: center;
}


.hero-img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 6rem;
}
.create-list-place{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.content-div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  margin: 30px;
}
.content-div-name{
  margin: 20px;
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}
.edit-delete{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}